WebApplication2/WebApplication2/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="productos">
        <s:complexType />
      </s:element>
      <s:element name="productosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="productosSoapIn">
    <wsdl:part name="parameters" element="tns:productos" />
  </wsdl:message>
  <wsdl:message name="productosSoapOut">
    <wsdl:part name="parameters" element="tns:productosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioEjemploSoap">
    <wsdl:operation name="productos">
      <wsdl:input message="tns:productosSoapIn" />
      <wsdl:output message="tns:productosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioEjemploSoap" type="tns:ServicioEjemploSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="productos">
      <soap:operation soapAction="http://localhost/productos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioEjemploSoap12" type="tns:ServicioEjemploSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="productos">
      <soap12:operation soapAction="http://localhost/productos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEjemplo">
    <wsdl:port name="ServicioEjemploSoap" binding="tns:ServicioEjemploSoap">
      <soap:address location="https://localhost:44394/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioEjemploSoap12" binding="tns:ServicioEjemploSoap12">
      <soap12:address location="https://localhost:44394/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>